* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #1d2a35;
  padding: 200px 0;
}

.test-section {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  gap: 70px;
}
.checkBtn {
  height: 40px;
  background-color: #059862;
  color: #fff;
  border: none;
  border-radius: 5px;
}
